body {
  background-image: linear-gradient(#793d79, #f02e77);
  height: 100vh;
  width: 100%;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  overflow: hidden;
}
.wrapper {
  background-image: linear-gradient(white, lightgray);
  padding: 25px;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
}
header {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}
.input-field {
  height: 35px;
  width: 100%;
}
.input-field input {
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border: none;
  width: 85%;
}
.input-field button {
  font-size: 20px;
  border: none;
  background-color: #4779e8;
  color: white;
  text-align: center;
  padding-top: 2px;
  border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
}
.todo-list {
}
.todo-list li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  background-color: white;
  list-style: none;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}
.todo-list li:hover {
  transform: scale(1.05);
}
.todo-list li span {
  background-color: orangered;
  transform: scale(0.8);
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer button {
  font-size: 18px;
  border: none;
  background-color: #4779e8;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
